.burgerConstructorBox {
    width: 50%;
    height: 100%;
}

.ingredientList {
    display: flex;
    flex-direction: column;
    height: calc(100% - 300px);
    overflow-y: auto;
    text-align: left;
}

.runningTitle {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.dragAndDropHint {
    border-width: 1px;
    border-style: dashed;
    border-color: #F2F2F3;
    margin: 0 35px 0 68px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.burgerDragAndDropHint {
    border-width: 1px;
    border-style: dashed;
    border-color: #F2F2F3;
    margin: 10px 35px 10px 68px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    min-height: 80px;
}