.mainModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalIdOrder {

}

.modalIdHint {
    text-transform: lowercase;
}

.modalImg {

}

.modalStatus {

}

.modalMessage {

}
