.MainModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ModalIdOrder {

}

.ModalIdHint {
    text-transform: lowercase;
}

.ModalImg {

}

.ModalStatus {

}

.ModalMessage {

}
