.productBox {
    position: relative;
    width: min-content;
    text-align: center;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.priceBox {
    display: flex;
    justify-content: center;
}

.MainModal {
    display: flex;
    flex-direction: column;
}

.ModalTitle {
    width: 100%;
    text-align: left;
}

.ModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.EnergyValueList {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.EnergyValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
