.order {
    position: relative;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    background-color: #1C1C21 !important;
    border-radius: 30px;
    display: block;
}

.orderTitle {
    display: flex;
}

.orderDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orderNumber {
    flex-grow: 1;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.miniatures {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.description {
    display: flex;
    flex-direction: column;
}
