.passwordField{
    background-color: #2F2F37;
    border-radius: 40px;
    padding: 20px;
    width: 440px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
}

.passwordInput{
    all: unset;
    flex-grow: 1;
}

.showIcon{
    height: 24px;
}